<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{channel|capfirst}}</title>
</head>

<body>
    <h1>Welcome to {{channel|capfirst}}'s Channel</h1>
    <textarea name="" id="chat-messages" cols="100" rows="20">
     {% for message in messages %}
    {{message}}
     {% endfor %}
    </textarea><br> <br>
    <input type="text" name="" id="chat-message" size="100"><br> <br>
    <input type="button" value="Send Message" id="send-message">

    {{ channel|json_script:"channel-name" }}

    <script>
        const chatMessagesField = document.getElementById('chat-messages');
        const chatMessageField = document.getElementById('chat-message');
        const sendMessageButton = document.getElementById('send-message');
        const channelName = JSON.parse(document.getElementById('channel-name').textContent);
        console.log(channelName);
        console.log(typeof (channelName));

        // const chatSocket = new WebSocket(`ws://127.0.0.1:8000/ws/wsc/chat/${channelName}/`);
        const chatSocket = new WebSocket(`ws://127.0.0.1:8000/ws/awsc/chat/${channelName}/`);



        chatSocket.onopen = function () {

        }

        chatSocket.onmessage = function (event) {
            console.log(event);
            console.log(event.data);
            console.log(typeof (event.data));
            var data = JSON.parse(event.data);
            console.log(data);
            console.log(typeof (data));
            console.log(data['msg']);
            chatMessagesField.value += data['msg'] + '\n';
        }

        sendMessageButton.onclick = function (event) {
            const message = chatMessageField.value;
            chatSocket.send(
                JSON.stringify({
                    "msg": message
                })
            );
            chatMessageField.value = "";
        }



    </script>

</body>

</html>